/* 
header, nav, section, article, footer {;}
header, footer {;}
section {;}
article {;}
nav {;}
nav ul {;}
nav ul li {}
*/

html {
  position: relative;
  min-height: 100%;
}

body {padding-top: 50px; margin-bottom: 60px;}

img {
    width: 100%;
	height: 175px !important;
}

.container .text-muted {
  margin: 20px 0;
}

.green {color: #00FF00;}
.red {color: #FF0000;}
.green img {height: 16px; width: 16px;}
.red img {height: 16px; width: 16px;}

.small {font-size: 0.7em;}
.right span {float: right;}
.spacer {margin-bottom: 5px;}
.clear {clear: both;}

.boxer {margin: 5px; padding: 5px;}
.boxer-lg {margin: 10px; padding: 10px;}
.boxer-right {margin-right: 0px;}

.inner-box {padding: 5px;}
.inner-box-lg {padding: 10px;}
.outer-box {margin: 5px;}
.outer-box-lg {margin: 10px;}

.shadows {
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0, 0, 0, 0.5), Direction=NaN, Strength=3);
}

.rounded {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.border {border: 1px #e1e1e1 solid;}

.regionswall
{
    text-align: left;
    /*
        width: 350px;
        display: table-cell; 
        display: inline-block;
    */
}
/*.regionswall:hover {;}*/

.regiondetails {
    background-color: #FFFFFF;
    text-align: left;
    padding: 5px;
}


.footer {
  position: absolute;
  bottom: 0px;
  height: 60px;
  background-color: #F5F5F5;
}

@keyframes fadein {
   from {opacity: 0;}
   to {opacity: 1;}
}
.content {
   animation: fadein 0.5s;
}

/* Bootstrap 4.0 */
.file {
  position: relative;
  display: inline-block;
  height: 2.5rem;
  cursor: pointer;
}

.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: .25rem;
}

.file-custom::after {
  content: "Choose file...";
}

.file-custom::before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  content: "Browse";
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 0 .25rem .25rem 0;
}